<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="container">
  <div class="inner-container">
    <div class="reader-body">
      <div class="upper-section">
        <p>Leitor de Biometria</p>
      </div>
      <div class="bottom-section">
        <form
          action="{%url 'logar'%}"
          method="post"
          class="finger-border"
          enctype="multipart/form-data"
        >
          <label for="imageUpload" class="finger-container"></label>
          <input
            type="file"
            id="imageUpload"
            accept="image/*"
            style="display: none"
            name="imgDigital"
            onchange="loadFile(event)"
          />

          <div class="out-border"></div>
          <button class="btn" type="submit">Enviar</button>
        </form>
      </div>
    </div>
    <div class="finger-output">
      <img
        class="finger-output-img"
        id="output"
        width="140px"
        height="190px"
      />
    </div>
  </div>
</div>
</body>

<script>
  var loadFile = function (event) {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.getElementById("output");
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script>

</html>
