* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(242,242,242);
  background: linear-gradient(135deg, rgba(242,242,242,1) 60%, rgba(102,102,102,1) 100%);
}

.reader-body {
  height: 450px;
  background: rgb(228,228,228);
  background: radial-gradient(circle, rgba(228,228,228,1) 0%, rgba(214,214,214,1) 100%);
  border-radius: 10px;
  transition: box-shadow .5s;
}

.reader-body:hover {
  box-shadow: 50px 75px 35px rgb(59, 59, 59);
}

.upper-section {
  width: 450px;
  height: 100px;
  display: flex;
  padding-top: 25px;
  justify-content: center;
  justify-items: center;
}

p {
  font-size: 35px;
  font-family: 'Noto Sans Mono', monospace;
  color: rgb(92, 92, 92);
}

.finger-container {
  display: flex;
  font-size: 25px;
  cursor: url('../images/fingerprint-cursor.png'), auto;
  background-image: url('../images/fingerprint1.png');
  transition: background-image .5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(196, 196, 196);
  border-radius: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 225px;
  z-index: 1;
}

.finger-container:hover {
  background-image: url('../images/fingerprint2.png');
}

.out-border {
  display: flex;
  font-size: 25px;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(99,99,99,1) 100%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 245px;
  position: absolute;
  z-index: 0;
}

.bottom-section {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(99,99,99,1) 100%);
  width: 450px;
  height: 350px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  position: absolute;
  height: 50px;
  width: 120px;
  top: 65%;
  left: 1170px;
  background-color: rgb(196, 196, 196);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 5px;
  border: 0;
  font-family: 'Noto Sans Mono', monospace;
  color: rgb(92, 92, 92);
  font-size: 15px;
}